<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    {% include 'header.html' %}

    <main>
      <img src="/assets/img/cm-full-logo.png" alt="CodeMajesty logo" />
    </main>

    {% include 'footer.html' %}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const yearEl = document.getElementById('current-year');
        if (yearEl) {
          yearEl.textContent = new Date().getFullYear();
        }
      });
    </script>
  </body>
</html>
